body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: #000000;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.advantages-list h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.advantages-list p {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.friends-discount p:first-child {
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.friends-discount p:last-child {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #444444;
}

.social-list li {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
}

.button {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.modal-message {
  display: none;
}

.filter-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.filter-grid,
.filter-features {
  color: #283136;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

fieldset {
  border: none;
}

.brand {
  text-transform: uppercase;
}

.main-header {
  background-color: #eeeeee;
  margin-bottom: 75px;

  min-height: 545px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-navigation {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.user-navigation {
  width: 117px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  white-space: nowrap;
}

.user-navigation img {
  padding-right: 20px;

}

.main-navigation-logo {
  width: 160px;
  height: 65px;

}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 50px 0;
}

.wrapper {
  width: 1160px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

